@keyframes shake-horizontal {
  0%,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.table,
.table:hover {
  font-family: var(--font-noto-sans-kr);
}
.table {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 120%;
  font-weight: 100;
  color: var(--color-black);
  text-align: center;
  cursor: grab;
}
.table:hover {
  font-weight: 700;
}
.furnitureIcon {
  position: relative;
  width: 171px;
  height: 242px;
  object-fit: cover;
}
.furnitureIcon:hover {
  animation: 3s ease 0s infinite normal none shake-horizontal;
  opacity: 1;
}
.furnitureWrapper {
  width: 277.5px;
  height: 270px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.col3,
.furnitureWrapper,
.tableCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tableCard {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-100);
  height: 334px;
  padding: var(--padding-25xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.col3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
}
.col3:hover {
  cursor: grab;
}
@media screen and (max-width: 600px) {
  .col3 {
    flex: unset;
    align-self: stretch;
  }
}
