.rio {
  color: var(--color-orange-100);
}
.logo {
  position: relative;
  line-height: 120%;
  font-weight: 100;
  display: inline-block;
  width: 62px;
  flex-shrink: 0;
  cursor: pointer;
}
.categories:hover,
.interiorDesign:hover,
.logo:hover {
  font-weight: 700;
  font-family: var(--font-noto-sans-kr);
}
.categories,
.interiorDesign {
  position: relative;
  line-height: 100%;
  font-weight: 100;
}
.interiorDesign {
  display: inline-block;
  width: 125px;
  flex-shrink: 0;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  width: 75%;
  top: 50%;
  right: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
}
.vectorIcon1,
.vectorIcon2 {
  top: 25%;
}
.vectorIcon2 {
  top: 75%;
}
.hambugerMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 26px;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.navigationLink,
.navigationMenu {
  display: flex;
  justify-content: flex-start;
}
.navigationLink {
  text-decoration: none;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-9xl);
  color: inherit;
}
.navigationMenu {
  width: 486px;
  height: 26px;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--font-size-base);
}
.headerNavigation {
  align-self: stretch;
  height: 78px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xl) var(--padding-101xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  font-family: var(--font-noto-sans-kr);
}
@media screen and (max-width: 1200px) {
  .hambugerMenu {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .hambugerMenu {
    display: flex;
  }
  .navigationLink {
    display: none;
  }
  .headerNavigation {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 600px) {
  .headerNavigation {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
