@keyframes shake-horizontal {
  0%,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.shopPopularCategories {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 100;
  font-family: inherit;
}
.vectorIcon {
  position: relative;
  width: 295.5px;
  height: 14.61px;
}
.titleContainer {
  width: 1119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.seeAll {
  position: relative;
  line-height: 100%;
  font-weight: 100;
  display: inline-block;
  width: 71px;
  flex-shrink: 0;
}
.seeAll:hover,
.table:hover {
  font-weight: 700;
  font-family: var(--font-noto-sans-kr);
  cursor: grab;
}
.categoryTitles,
.seeAllButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.seeAllButton {
  width: 81px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: flex-end;
  text-align: right;
  font-size: var(--font-size-base);
}
.categoryTitles {
  align-self: stretch;
  justify-content: space-between;
}
.table {
  position: relative;
  line-height: 120%;
  font-weight: 100;
}
.furnitureIcon {
  position: relative;
  width: 161px;
  height: 227px;
  object-fit: cover;
}
.furnitureIcon:hover {
  animation: 3s ease 0s infinite normal none shake-horizontal;
  opacity: 1;
}
.col {
  width: 277.5px;
  height: 270px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.card1,
.chairCard,
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.chairCard {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-100);
  height: 334px;
  padding: var(--padding-25xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.card1 {
  flex: 1;
}
.card1:hover {
  cursor: grab;
}
.table1,
.table1:hover {
  font-family: var(--font-noto-sans-kr);
}
.table1 {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 120%;
  font-weight: 100;
  color: var(--color-black);
  text-align: center;
}
.table1:hover {
  font-weight: 700;
  cursor: grab;
}
.furnitureIcon1 {
  position: relative;
  width: 171px;
  height: 242px;
  object-fit: cover;
}
.furnitureIcon1:hover {
  animation: 3s ease 0s infinite normal none shake-horizontal;
  opacity: 1;
}
.card12,
.card2 {
  flex: 1;
  display: flex;
}
.card2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card2:hover {
  cursor: grab;
}
.card12 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.furnitureIcon2 {
  position: relative;
  width: 225px;
  height: 225px;
  object-fit: cover;
}
.furnitureIcon2:hover {
  animation: 3s ease 0s infinite normal none shake-horizontal;
  opacity: 1;
}
.card34 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
}
.productsCards,
.productsCategory,
.shopPopular {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.productsCards {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-11xl);
  opacity: 1;
}
.productsCards.animate {
  animation: 1s ease 0s 1 normal forwards shake-horizontal;
}
.productsCategory,
.shopPopular {
  flex-direction: column;
  justify-content: flex-start;
}
.shopPopular {
  padding: var(--padding-xl) var(--padding-101xl);
  gap: var(--gap-51xl);
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.productsCategory {
  padding: var(--padding-91xl) 0 var(--padding-xl);
}
@media screen and (max-width: 1200px) {
  .card12,
  .card34 {
    flex: unset;
    align-self: stretch;
  }
  .productsCards {
    flex-direction: column;
    gap: var(--gap-41xl);
  }
  .shopPopular {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .categoryTitles {
    align-self: flex-start;
  }
  .card12,
  .card34 {
    flex: unset;
    align-self: stretch;
  }
  .productsCards {
    flex-direction: column;
    gap: var(--gap-51xl);
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .shopPopularCategories {
    font-size: var(--font-size-12xl);
  }
  .card1,
  .card2 {
    flex: unset;
    align-self: stretch;
  }
  .card12 {
    gap: var(--gap-11xl);
    align-items: flex-start;
    justify-content: center;
  }
  .card12,
  .card34 {
    flex-direction: column;
  }
  .card34,
  .productsCards,
  .shopPopular {
    gap: var(--gap-11xl);
  }
  .shopPopular {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .shopPopularCategories {
    font-size: var(--font-size-9xl);
  }
}
